@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  background-color: #e9c46a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

header p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.visual h1 {
  text-align: center;
  font-family: sans-serif;
  text-transform: lowercase;
  font-size: 1rem;
  padding: 15px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pads {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pads > div {
  height: 100px;
  width: 100px;
  cursor: pointer;
  flex: 1;
}

.pad1 {
  background: #264653;
}

.pad2 {
  background: #2a9d8f;
}

.pad3 {
  background: #f4a261;
}

.pad4 {
  background: #e76f51;
}

.pad5 {
  background: #2a9d8f;
}

.pad6 {
  background: #264653;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0;
}
